
{% extends "layout.twig" %}

{% block content %}

<header class="bk-header">
    <div class="companyheader page-wrap clearfix">
        {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
        {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
    </div>
    <div class="nav-container clearfix">
        <div class="page-wrap">
            {{widget('extendednavigation', 'navigationheader', {"align":"left"})|raw}}
        </div>
    </div>
</header>         

<div class="page-wrap">
    <div class="mainzone headerwrapper">
        {{zone('main')|raw}}
    </div>
</div>

<footer class="bk-footer">
        <div class="page-wrap clearfix">
            <div class="responsivecolumns columns-two-50-50">
                <div class="column columns-two-left">
                  <div class="left-footer">
                    {{widget('companyname', 'footercompanyname', {"business": "profile"})|raw}}
                    </div>
                </div>
                <div class="column columns-two-right">
                    <div class="right-footer">
                        {{widget('profile', 'footercolumn1profilesocialicons', { 'profileType':'socialicons',   'socialicons':'profile'})|raw}}
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}