
{% extends "layout.twig" %}

{% block content %}

<header class="bk-header">
    <div class="companyheader page-wrap clearfix">
        {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
        {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
    </div>
    <div class="nav-container clearfix">
        <div class="page-wrap">
            {{widget('extendednavigation', 'navigationheader', {})|raw}}
        </div>
    </div>
</header>         

<div id="owl-demo" class="owl-carousel owl-theme page-wrap">
    <div class="item">
        <section class="carousel-text">
            <span>{{widget('content', 'textwidgetbox1', {content: '<h3 style="text-align:left">Phase one: Interaction and Experience</h3>', lines: 'all'})|raw}}</span>
            <span>{{widget('content', 'textwidgetbox2', {content: '<h4 style="text-align:left">Interaction is the key to connecting the user to the best experience possible.</h4>', lines: 'all'})|raw}}</span>
        </section>
    </div>
    <div class="item">
        <section class="carousel-text">
            <span>{{widget('content', 'textwidgetbox3', {content: '<h3 style="text-align:left">Phase one: Interaction and Experience</h3>', lines: 'all'})|raw}}</span>
            <span>{{widget('content', 'textwidgetbox4', {content: '<h4 style="text-align:left">Interaction is the key to connecting the user to the best experience possible.</h4>', lines: 'all'})|raw}}</span>
        </section>
    </div>
    <div class="item">
        <section class="carousel-text">
            <span>{{widget('content', 'textwidgetbox5', {content: '<h3 style="text-align:left">Phase one: Interaction and Experience</h3>', lines: 'all'})|raw}}</span>
            <span>{{widget('content', 'textwidgetbox6', {content: '<h4 style="text-align:left">Interaction is the key to connecting the user to the best experience possible.</h4>', lines: 'all'})|raw}}</span>
        </section>
    </div>
</div>

<section class="bk-section">
    {{widget('gallery', 'gallery1', 
    {'albumRef':0,
    'showDescription': true,
    'showTitle': true,
    'images':
    [
    {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/1.jpg'), 'title':'Image 1',  'description': 'This is image 1'},
    {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/2.jpg'), 'title':'Image 2',  'description': 'This is image 2'},
    {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/3.jpg'), 'title':'Image 3',  'description': 'This is image 3'},
    {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/4.jpg'), 'title':'Image 4',  'description': 'This is image 4'},
    {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/5.jpg'), 'title':'Image 5',  'description': 'This is image 5'},
    {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/6.jpg'), 'title':'Image 6',  'description': 'This is image 6'},  
    ]
    })|raw}}
</section>

        <div class="container">
            <div class="main">
                <!-- FIFTH EXAMPLE -->
                <div class="view view-fifth">
                    <img src="http://placehold.it/250x250" />
                    <div class="mask">
                        <h2>Hover Style #5</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                        <a href="#" class="info">Read More</a>
                    </div>
                </div>
                <div class="view view-fifth">
                    <img src="http://placehold.it/2250x800" />
                    <div class="mask">
                        <h2>Hover Style #5</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                        <a href="#" class="info">Read More</a>
                    </div>
                </div>
                <div class="view view-fifth">
                    <img src="images/2.jpg" />
                    <div class="mask">
                        <h2>Hover Style #5</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                        <a href="#" class="info">Read More</a>
                    </div>
                </div>
                <div class="view view-fifth">
                    <img src="images/7.jpg" />
                    <div class="mask">
                        <h2>Hover Style #5</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                        <a href="#" class="info">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

<div class="page-wrap">
	<div class="mainzone headerwrapper">
		{{zone('main')|raw}}
	</div>
</div>

<footer class="bk-footer">
        <div class="page-wrap clearfix">
            <div class="responsivecolumns columns-two-50-50">
                <div class="column columns-two-left">
                  <div class="left-footer">
                    {{widget('companyname', 'footercompanyname', {"business": "profile"})|raw}}
                    </div>
                </div>
                <div class="column columns-two-right">
                    <div class="right-footer">
                        {{widget('profile', 'footercolumn1profilesocialicons', { 'profileType':'socialicons',   'socialicons':'profile'})|raw}}
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

{% block bodyscripts %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{asset('js/owl-carousel/owl.carousel.js')}}"></script>

<script>
    jQuery(document).ready(function() {

      $("#owl-demo").owlCarousel({
        lazyLoad : true,
        navigation : true,
        slideSpeed: 200,
        autoPlay: true,
        stopOnHover: true,
        items : 1, 
        itemsDesktop : false, 
        itemsDesktopSmall : false,
        itemsTablet: [769,2], 
        itemsMobile : [478,1],
        navigationText : false
      });
    });
</script>  

{% endblock %}  
